body,
html,
#root,
.app {
    background-color: #303138;
    color: #FFF;
    height: 100%;
    width: 100%;
}

.app-header {
    font-size: 3em;
    margin-left: 50px;
}

.word-cloud-content {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}